*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;
    color:#e0f2fe;

    background-image:url("fundo.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

header{
    text-align:center;
    padding:35px 20px;
    background:rgba(3,21,45,.65);
}

header h1{
    font-size:30px;
    margin-bottom:8px;
}

header p{
    color:#7dd3fc;
}

main{
    width:90%;
    max-width:1000px;
    margin:30px auto;
}

.painel{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card,
.status-box,
.controle{
    background:rgba(5,30,55,.88);
    border:1px solid #075985;
    border-radius:14px;
    padding:22px;
    box-shadow:0 8px 25px #0008;
}

.card{
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-4px);
    border-color:#38bdf8;
}

.card h2{
    font-size:15px;
    color:#7dd3fc;
    margin-bottom:12px;
}

.card p{
    font-size:34px;
    font-weight:bold;
}

.status{
    margin-top:25px;
}

.status h2{
    margin-bottom:10px;
}

.status-box{
    display:flex;
    align-items:center;
    gap:12px;
}

#situacao-indicador{
    width:13px;
    height:13px;
    border-radius:50%;
    background:#64748b;
}

.normal{
    background:#22c55e!important;
}

.atencao{
    background:#facc15!important;
}

.critico{
    background:#ef4444!important;
}

.controle{
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.controle p{
    color:#7dd3fc;
}

.controle strong{
    color:white;
}

button{
    background:#0369a1;
    color:white;
    border:1px solid #0ea5e9;
    border-radius:8px;
    padding:11px 20px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#0284c7;
}

footer{
    text-align:center;
    padding:25px;
    color:#94a3b8;
}

@media(max-width:700px){

    .painel{
        grid-template-columns:1fr;
    }

    .controle{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

    button{
        width:100%;
    }
}